:root {
  font-family: "Space Mono", monospace;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg: #fdf9ec;
  --primary: #006989;
  --secondary: #005c78;
  --accent: #f7978d;
  --dark-text: #333;
  --light-text: var(--bg);

  color-scheme: light dark;
  color: var(--primary);
  background-color: var(--bg);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
}

p {
  margin: 0;
  padding: 0;
}

.App-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: var(--primary);
  height: 2.8rem;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  justify-content: flex-start;
  color: var(--light-text);
}

.App-header h1 {
  font-size: 1.5rem;
}

.App-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.PromptInput {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: fit-content;
  margin: 15px 30px;
  border: solid 2px var(--primary);
}

.PromptInput textarea {
  border: none;
  resize: none;
  color: var(--primary);
  background-color: transparent;
  flex-grow: 1;
  font-size: 1rem;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}

.PromptInput-menu {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: var(--primary);
  color: var(--light-text);
  padding: 15px;
  font-size: 1rem;
  line-height: 20px;
}

.PromptInput-label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}

.PromptInput-number {
  width: 50px;
  margin-right: 10px;
  font-family: "Space Mono", monospace;
}

.PromptInput-switch {
  line-height: 20px;
  margin-right: 10px;
}

.PromptInput-submit {
  margin-top: auto;
  background-color: var(--accent);
  border: none;
  color: var(--light-text);
  font-size: 1rem;
  padding: 5px;
  font-family: "Space Mono", monospace;
}

.PromptInput-submit:hover {
  cursor: pointer;
}

.GenTree {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  margin: 15px 30px;
  /* overflow-x: scroll; */
}

.GenTree-prompt {
  background-color: var(--primary);
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--light-text);
  margin-right: 20px;
}

.GenLevel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 8px;
}

.GenNode {
  position: relative;
  text-align: left;
  padding: 0 3px;
  height: 1.5rem;
  width: fit-content;
  min-width: 10px;
  align-items: flex-start;
  color: var(--color-text-dark);
}

.Generations {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: solid 2px var(--primary);
  height: 300px;
  margin: 15px 30px;
}
