:root {
  --bg: #fffef7;
  --primary: #050029;
  --class-a: #1e4e6b;
  --class-b: #2f79a7;
  --accent: #f7978d;
  --dark-text: #333;
  --light-text: var(--bg);

  --main-font: "Figtree", sans-serif;
  --content-font: "Figtree", monospace;

  font-family: var(--main-font);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--primary);
  background-color: var(--bg);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-size: 1rem;
}

p {
  margin: 0;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

.App-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: var(--primary);
  height: 2.8rem;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  justify-content: flex-start;
  color: var(--light-text);
}

.App-header h1 {
  font-size: 1.5rem;
}

.App-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.PromptInput {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  height: fit-content;
  margin: 15px 30px;
  border: solid 3px var(--primary);
  box-shadow: rgba(5, 0, 41, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.PromptInput textarea {
  border: none;
  resize: none;
  color: var(--primary);
  font-family: var(--content-font);
  background-color: transparent;
  flex-grow: 1;
  font-size: 1rem;
  padding: 15px;
  height: 100%;
  box-sizing: border-box;
}

.PromptInput-menu {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: var(--primary);
  color: var(--light-text);
  padding: 15px;
  font-size: 1rem;
  line-height: 20px;
}

.PromptInput-menu button {
  margin-top: 15px;
}

.PromptInput-label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0;
}

.PromptInput-number {
  width: 50px;
  margin-right: 10px;
  font-family: var(--main-font);
}

.PromptInput-switch {
  line-height: 20px;
  margin-right: 27px;
}

.PromptInput-submit {
  margin-top: auto;
  background-color: var(--accent);
  border: none;
  color: var(--light-text);
  font-size: 1rem;
  padding: 5px;
  font-family: var(--main-font);
}

.GenTree {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 50%;
  overflow: hidden;
  margin: 15px 30px;
  overflow-x: scroll;
}

.GenTree-prompt {
  background-color: var(--primary);
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--light-text);
  margin-right: 20px;
  position: relative;
  top: calc(calc(40px - 1.5rem) / -2);
}

.GenTree-generatingMenu {
  position: absolute;
  top: 5px;
  right: 5px;
}

.GenTree-generatingMenu button {
  background-color: var(--accent);
  border: none;
  color: var(--light-text);
  font-size: 1rem;
  padding: 0 5px;
  margin-left: 10px;
  font-family: var(--main-font);
}

.GenLevel {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin-right: 12px;
}

.GenLevel-label {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.8rem;
  margin-bottom: 20px;
  padding: 0 3px;
  color: var(--light-text);
}

.GenLevel-label.k_means {
  background-color: var(--class-a);
  padding-right: 40px;
}

.GenLevel-label.top_p {
  background-color: var(--class-b);
}

.GenLevel-nodes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.GenNode {
  position: relative;
  text-align: left;
  padding: 0 3px;
  height: 1.5rem;
  width: fit-content;
  min-width: 10px;
  align-items: flex-start;
  color: var(--color-text-dark);
  margin-bottom: 3px;
  font-family: var(--content-font);
}

.Generations {
  display: flex;
  flex-direction: row;
  border-top: solid 2px var(--primary);
  height: 50%;
  margin: 15px 30px;
  padding: 15px 0;
}

.Generation {
  padding: 10px;
  margin-right: 12px;
  /* border: solid 2px var(--primary); */
  border-radius: 10px;
  box-shadow: rgba(5, 0, 41, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.horiz-content {
  scrollbar-color: var(--primary) var(--bg);
  overflow: auto;
}
