.GenTree {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.GenTree-Prompt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5px;
}

.GenTree-Prompt p {

}

.GenLevel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 5px;
}

.GenNode {
    position: relative;
    text-align: left;
    padding: 0 2px;
    color: var(--color-text-dark);
}