:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg: #f4f3f3;
  --color-primary: #006989;
  --color-secondary: #005c78;
  --color-accent: #e88d67;
  --color-text-dark: #333;
  --color-text-light: var(--color-bg);

  color-scheme: light dark;
  color: var(--color-primary);
  background-color: var(--color-bg);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

p {
  margin: 0;
  padding: 0;
}
